/**
 * Custom palette here.
 *
 * ref：https://v1.vuepress.vuejs.org/zh/config/#palette-styl
 */

$accentColor = #665a00
$textColor = #2c3e50
$borderColor = #eaecef
$codeBgColor = #282c34
$contentBgColor = #665a00
